

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:darkcyan;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: 500;
    
}
